mockups
node_modules
.firebase
firebase-init.js
public/static/js/bundle.js
public
.roomodes
coverage/
__pycache__
task_completion_chart.png
__tests__/all-test-results.txt
__tests__/console-integration-test-results.txt
__tests__/console-rule-engine-test-results.txt
__tests__/jest-test-results.json
